#transition-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

button {
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
}

/* attempt */

/*add transition so effect happens over a duration and in a specific manner via the timing function, instead of instantly which would have happened with no duration*/
button {
    transition: transform .3s ease-in-out;
}

/*apply transform of scale to button on hover psuedo class selector*/
button:hover {
    transform: scale(1.2);
}